<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>updateData</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.updateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ogrenciEkle</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.ogrenciEkle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ogrenciGunc</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.ogrenciGunc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ogrenciGuncProfil</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.ogrenciGuncProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>akademisyenGuncProfil</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.akademisyenGuncProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>duyuruKaydet</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.duyuruKaydet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donemAktif</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.donemAktif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Akademisyenkontrol</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.Akademisyenkontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AkadmeiyenEmailKontrol</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.AkadmeiyenEmailKontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donemEkle</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.donemEkle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donemGunc</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.donemGunc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dersProgSil</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.dersProgSil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sinifTablo</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.sinifTablo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>akademisyenTablo</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.akademisyenTablo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pasif</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.Pasif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AkademisyenAra</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.AkademisyenAra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Goruntu</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.Goruntu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateData</servlet-name>
        <url-pattern>/updateData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mailAtServlet</servlet-name>
        <servlet-class>com.bitirmeProje.servlet.mailAtServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mailAtServlet</servlet-name>
        <url-pattern>/mailAtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ogrenciEkle</servlet-name>
        <url-pattern>/ogrenciEkle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ogrenciGunc</servlet-name>
        <url-pattern>/ogrenciGunc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ogrenciGuncProfil</servlet-name>
        <url-pattern>/ogrenciGuncProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>akademisyenGuncProfil</servlet-name>
        <url-pattern>/akademisyenGuncProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>duyuruKaydet</servlet-name>
        <url-pattern>/duyuruKaydet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donemAktif</servlet-name>
        <url-pattern>/donemAktif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Akademisyenkontrol</servlet-name>
        <url-pattern>/Akademisyenkontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AkadmeiyenEmailKontrol</servlet-name>
        <url-pattern>/AkadmeiyenEmailKontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donemEkle</servlet-name>
        <url-pattern>/donemEkle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donemGunc</servlet-name>
        <url-pattern>/donemGunc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dersProgSil</servlet-name>
        <url-pattern>/dersProgSil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sinifTablo</servlet-name>
        <url-pattern>/sinifTablo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>akademisyenTablo</servlet-name>
        <url-pattern>/akademisyenTablo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pasif</servlet-name>
        <url-pattern>/Pasif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AkademisyenAra</servlet-name>
        <url-pattern>/AkademisyenAra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Goruntu</servlet-name>
        <url-pattern>/Goruntu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
